[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
openai = "*"
python-dotenv = "*"
backoff = "*"
tiktoken = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
